{% extends 'base.html' %}
{% load static %}
{% block title %} Home {% endblock %}
{% block content %} 
    <div class="d-flex px-5 pt-3 align-items-center gap-4">

        <div class="col-6">
        <h1>Welcome to Our Library</h1>
        <p>In the tranquil corridors of My Library, the pages of countless worlds unfold, inviting you to 
            embark on a journey through the vast realms of literature. This literary sanctuary is a haven 
            for the curious, a treasure trove where words weave magic, and ideas spark the imagination.
            As the custodian of this collection, I invite you to explore the diverse shelves that house 
            stories, knowledge, and perspectives from every corner of human thought. Here, fiction and 
            non-fiction coexist, creating a symphony of ideas that resonate with the whispers of the past 
            and the possibilities of the future. Whether you seek the thrill of adventure, the solace of 
            wisdom, or the joy of discovering new realms, My Library is a refuge for all. It's a place where 
            the power of words transcends time, connecting generations through the art of storytelling.</p>
        </div>
        <div class="col-6">
    <img style="height: 100%; width: 650px;" src="{% static 'library.jpg' %}" />
        </div>
    </div>

    <div class="d-flex flex-wrap p-4">
        <div class="col-2 bg-white p-3" >
        <h5>All Categories</h5>
        {% for cat in category %}
        <div class="form-check">
            <label class="form-check-label" for="flexRadioDefault1">
                <a href="{% url 'category_book' cat.slug %}" class="text-decoration-none text-dark btn btn-success mt-2" style="font-weight: bold;">
                {{cat.name}}</a>
            </label>
        </div>
        {% endfor %}
        </div>
        <div class="col-10 p-3">
        <h4>{{books | length}} results found</h4>
        <div class="d-flex flex-wrap pt-5">
            {% for bk in books %}
            <div class="col-sm-3">
            <div class="card m-2">
                <div class="card-body">
                <img src="{{bk.image.url}}" class="card-img-top" alt="{{bk.title}}">
                <h5 class="card-title mt-2">{{bk.title}}</h5>
                <p class="card-text">{{bk.description |truncatewords:10}}</p>
                <p>
                    Category : {% for cat in bk.category.all %}
                    <button class="btn btn-primary btn-sm m-2" disabled>
                    {{cat.name}}
                    </button>
                    {% endfor %}
                </p>
                <a href="{% url 'book_detail' bk.id %}" class="btn btn-primary">View Details</a>
                </div>
            </div>
            </div>
            {% endfor %}
        </div>
        </div>
    </div>
{% endblock %}